*{
  margin: 0;
  padding: 0;
}
::selection{
  background-color: black;
  color: white;
}
body{
  background-color: rgb(240, 192, 120);
  
}
.f-container{
  width:23%;
 min-height: 630px ;
  background-color: white;
  border-radius: 5px;
  }
.f-card{
  width: 90%;
 min-height: 200px;
  background-color: #f3f5fe;
  border-radius: 5%;
  margin:4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu{
  display: flex;
  justify-content: space-evenly;
  width:100%;
  height: 60px;
  background-color: #f3f5fe;
}
.clock{
  font-size: small;
  margin: 2%;
}
h3{
   font-size:xx-large;
   color: darkblue;
}
.graph{
  width: 90%;
  min-height:280px;
  background-color: #f3f5fe;
  margin: auto;
  border-radius: 3%;
}

.l-main{
  background-color: rgb(230, 226, 226);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}
.leave-con{
 width: 90%;
 height: 92%;
 background-color:#f3f5fe;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 color: #000000;
}
.leave-back{
  font-size: 30px;
  border-radius: 50%;
color:  darkblue;;
padding: 4px;
  float:right;
}

form{
  margin: 30px 10px;
  font-size: large;
  font-weight: bold;
}
.input{
  width: 78%;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  border: 1.5px solid black;
}
.policy{
  width: 55%;
  padding: 10px;
  margin: 18px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: 1.5px solid black;

}
.text{
  width: 130%;
  font-size:16px;
  /* position: relative; */
  /* right:  10px; */
  /* margin: -8px; */
  /* background-color: #000000; */

}
.date{
  margin-top: 50px;
}
.day{
font-size: x-large;
padding-bottom: 10px;
}
.s-date{
  margin: 10px;
  padding: 8px;
  width: 30%;
  border-radius: 10px;
  border: 1.5px solid black;

}
.e-date{
    margin: 10px;
    padding: 8px;
    width: 30%;
    border-radius: 10px;
    border: 1.5px solid black;

  
}
.notes{
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.m{
  display: flex;
  align-items: center;
  font-size: x-large;
}
.reason{
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;
}
.btnn{
  display: flex;
  justify-content:flex-end;
}
.btns{
  width: 100px;
  background-color: #08a3f4;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-size: medium;
}
@media (max-width: 870px){
  body{
    background-color: rgb(207, 182, 107); 
  }
  .f-container{
    width:100%;
   min-height: 740px ;
    background-color: white;
    border-radius: 5px;
    }
    
}